CMakeLists.txt.user

build*/
codeblocks/
3rdparty/

*.sublime-project
*.sublime-workspace
*.aux
*.log
*.out
*.pdb
*.tps
*.toc
*.vcproj.*.user
*.vcxproj.user

_configure.bat
_open-project.bat
_start-cmake-gui.bat
configure