CMakeLists.txt.user

build*/
codeblocks/
3rdparty/
documentation/


*.sublime-project
*.sublime-workspace
*.aux
*.log
*.out
*.pdb
*.tps
*.toc
*.vcproj.*.user
*.vcxproj.user
Thumbs.db

_configure.bat
_open-project.bat
_start-cmake-gui.bat
configure
